/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/*Custom amount currency*/
#currency span{
    position: relative;
    right: -20px;
}
#currency input[type=number]{
	padding-left: 20px;
}

/* 
=======================
   Circle Preloader
=======================
*/

 .circle-wrapper {
    clear: both;
    display: block;
    height: 12rem;
    margin: auto;
    width: 12rem;
    text-align: center;
}

.circle-loader {
    position: relative;
}

.circle {
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 2px solid #000;
	border-bottom: 2px solid transparent;
	border-left:  2px solid #000;
	border-right: 2px solid transparent;
	animation: animate 2s infinite;	
}

.circle_one {
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}
							
.circle_two {
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
    animation-delay: 0.2s;
}
		
.circle_three {
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
    animation-delay: 0.4s;
}

.circle_four {
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
    animation-delay: 0.6s;
}	

@keyframes animate {
  50% { transform: rotate(360deg) scale(0.8); }	
}

