/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.donation-status-pending {
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.donation-view-details {
	font-size: 10px;
	text-align: center;
	color: #555;
}	

.donation-view-details:hover {
	cursor : pointer;
	text-decoration: underline;
}

.donation-details-header {
	font-weight: bold;
}
.donation-details-value {
	margin-left: 10px !important;
	text-transform: capitalize;
}
.donation-details {
	margin-bottom: 5px;
}